:root {
  --black: black;
  --white: white;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.clock-outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  border: 6px var(--black) solid;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.line {
  height:10px;
  width: 2px;
  background-color: var(--black);
}

.number-line {
  height:30px;
  width: 4px;
  background-color: var(--black);
}

.hour-hand,
.minute-hand,
.seconds-hand {
  position: absolute;
  transform-origin: top center;
  transition: transform 1s;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 6px;
  background-color: var(--black);
  border-radius: 30% 30% 100% 100%;
}

.minute-hand {
  height: 250px;
}

.seconds-hand {
  height: 260px;
  width: 2px;
  background-color: red;
}